<!-- Header exterior que ocupa el ancho completo -->
<header class="w-full bg-blue-700 text-white py-4 shadow">
  <div class="container mx-auto flex justify-between items-center ">
    <h2 class="text-3xl font-semibold flex items-center gap-2 hover:scale-105 duration-300">
      <i class="bi bi-journal-text"></i> Trámites Notariales
    </h2>

    <div class="flex gap-3">
      <button class="bg-gray-50 text-blue-700 px-3 py-1 rounded hover:bg-gray-200 hover:scale-110 duration-300" (click)="goToDashboard()">
        <i class="bi bi-arrow-left-circle"></i> Dashboard
      </button>
      <button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700 hover:scale-110 duration-300" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Salir
      </button>
    </div>
  </div>
</header>

<!-- Contenido principal -->
<div class="container py-4">
  <div class="row g-4">
    <div class="col-md-6 col-lg-4" *ngFor="let tramite of tramites">
      <div class="card shadow-sm h-100">
        <div class="card-body bg-gray-200 rounded-md">
          <h5 class="card-title text-primary">{{ tramite.nombre }}</h5>
          <p class="card-text">{{ tramite.descripcion }}</p>
          <h6 class="text-muted mt-3">Documentos requeridos:</h6>
          <ul class="small">
            <li *ngFor="let doc of tramite.documentos">{{ doc }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
